<ion-header class= "header-bg">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" style="color:#EFEFF1"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content justify-content-center padding>
  <button class="confirm-button" *ngIf="!checkedIn"ion-button full primary (click)="start()">Fazer check-in</button>
  <button class="confirm-button" *ngIf="checkedIn" ion-button full primary (click)="stop()">Check-out</button>
</ion-content>
